modules = ["nodejs-20"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 19298844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80
